
.mainSec{
  height: 100vh;

}
.div1{
  text-align: center;
}

.div1 > span{
  color:#217BF4;
}

.div1 > h3{
  font-size: 36px;
  color: #0A093D;
}

.div1 > p {
  color: #656464;
  font-size: 16px;
}

.div1 > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(125%,50%);
  padding-left: 20px;
  padding-right: 20px;
  width: 424px;
  background-color: #f7ffff;
  border-radius: 14px;
}
.div1 > div  button{
  color:#FFFFFF;
  border: none;
  width: 140px;
  height: 40px;
  background: #217BF4;
  box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
  border-radius: 14px;
}

.div2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-top: 100px;
}

.div2 > div{
  filter: drop-shadow(0px -10px 50px rgba(17, 50, 101, 0.08));
  background: #FFFFFF;
  box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
  border-radius: 14px;
  // width: 200px;
  // height: 280px;
  padding: 35px;

}
.div2 > div h3{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #2F2C4A;
}
.div2 > div p{
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #656464;
}