
.mainSec{
  // height: 100vh;
  padding-top: 20px;
  background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  background-size: cover;

  hr {
    border: 1px solid #ecf9f9 ;
  }
}

.mainDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  // padding: 0px 135px;
  // border-bottom: 1px solid #217BF4;
}

.subMainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.mainDiv > div:nth-child(2){
  margin-right: 5px;
}

.mainDiv > div:nth-child(1) span{
  font-size: 15px;
  color:#656464;

}

.mainDiv > div> div > ul{
  display: flex;
  align-items: center;
  list-style: none;
  color:#656464;
  gap: 50px; 
}

.mainDiv > div > div > ul :first-child{
  font-weight: 700;
}

.Fdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mainDiv > div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainDiv > div:nth-child(2) button{
  height: 58px;
  width: 123px;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #217BF4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  border-radius: 14px;
  border: none;
}

.mainDiv > div:nth-child(2) input{
  border:none;
  width: 80px;
  height: 14px;
  font-size: 12px;
  background-color:#ecf9f9;
  margin-right: 20px;
  color: #686868;
  border-bottom:2px solid #ecf9f9;
}

.secDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  // padding: 0px 135px;

}


.secDiv > div:nth-child(1) p:first-child{
  font-size: 12px;
  color: #217BF4;
  background-color: #ecf9f9 ;
  border-radius: 8px;
  font-weight: 200;
  width: 177px;
  text-align: center;
  padding: 10px 0px;

}
.secDiv > div:nth-child(1){
  margin-top: 125px;
  margin-bottom: 165px;
}

.secDiv:nth-child(2){
  margin-top: 72px;
  margin-bottom: 85px;
}

.secDiv > div:nth-child(1) p:nth-child(3){
  color : #656464; 
  font-size: 18px;
  margin-bottom: 42px;
}

.secDiv > div:nth-child(1) > div {
  display: flex;
  align-items: center;
  gap: 18px;
}

.b1{
  background: #217BF4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  border-radius: 14px;
  width: 162px;
  color: #FFFFFF;
  border: none;
  height: 62px;

}
.b2{
  border: 1px solid #217BF4;
  border-radius: 14px;
  border-radius: 14px;
  color: #217BF4;
  width: 162px;
  height: 62px;
  background-color: #f7ffff  ;
}

.secDiv > div:nth-child(1) h3{
  font-size: 56px;
  margin-top: 20px;
  margin-bottom: 18px;
  line-height: 66px;
  color: #0A093D;
}
