.mainSec{
  display: flex;
  align-items: center;
  padding: 0px 105px;
  justify-content: space-between;
  background: #20202D;
}

.mainSec > p {
  color: #F6F6F6;
}

.footerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerDiv > span{
  font-weight: 600;
  font-size: 24px;
  color : #FFFFFF;
}

.iconDiv{
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconDiv > div{
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 5px;
  line-height: 14px;
  text-align: center;
}
