.mainSec1{
  height: 130vh;
  padding: 0px 105px;
  padding-top: 20px;
  background-size: cover;
}
.mainDiv{
  display: flex;
  align-items: center;
}

.mainDiv:nth-child(1) h3{
  color: #217BF4;
  font-weight: 500;
  font-size: 18px;

}
.mainDiv:nth-child(1) h2{
  color: #0A093D;
  font-size: 36px;
  font-weight: 700;

}
.mainDiv:nth-child(1) span{
  color: #656464;;
  font-size: 16px;
  width: 406px;
  height: 84px;
  line-height: 28px;

}

.secDiv{
  margin-left: 320px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.secDiv > div {
  margin-left: 40px;

}
.secDiv > div:nth-child(1){
  margin-bottom: 40px;

}
.mainDiv2 {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 70px;
}

.mainDiv2 > div:nth-child(1){
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  border-radius: 14px;  
}
.span1{
  color:#0A093D;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin-left: 12px;
}

.span2{
  font-size: 15px;
  color: #5D5B70;
  margin-left: 12px;
}

.span3{
  margin-left: 12px;
}

.divText {
  width: 274px;
  height: 78px;
  color: #8C8C8C;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.div1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainDiv2 > div:nth-child(1) p{
  color: #217BF4;
  font-size: 16px;
}

.mainDiv2 > div:nth-child(2) p{
  color:#4A4A56;
  font-size: 16px;
}
.mainDiv > div:first-child p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #171648;
  font-weight: 700;
  font-size: 18px;
}
.mainDiv2 > div:nth-child(2){
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  border-radius: 14px;  
}

.mainDiv2 > div:nth-child(3) p{
  color: #217BF4;
  font-size: 16px;
}
.mainDiv2 > div:nth-child(3) h3{
  font-size: 36px;
  width: 361px;
  color: #0A093D;
}

.mainDiv2 > div:nth-child(3) div{
  width: 274px;
  height: 78px;
  color: #8C8C8C;
  font-size: 16px;
}
.mainDiv2 > div:nth-child(3) button{
  width: 192px;
  color:#FFFFFF;
  gap: 4px;
  border: none;
  height: 58px;
  background: #217BF4;
  box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
  border-radius: 14px;
}

.peopleDiv{
  display: flex;
  align-items: center;
}

